::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Default styles*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root,
.todo-list-app {
  display: flex;
  flex-flow: column nowrap;
}

#root {
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2.5em;
}

.subtitle {
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  /* margin-top: 10px; */
}

.block {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.todo-list {
  flex-basis: 45%;
}

.completed-list {
  flex-basis: 45%;
}

/* Todo list app styles  */
.todo-list-app {
  padding-top: 32px;
  width: 100%;
  text-align: center;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* Todo form styles */
.todo-form textarea,
.todo-item {
  border: 1px solid #ececec;
}

.todo-form textarea {
  padding: 0 14px;
  width: 40%;
  height: 48px;
  margin-right: 10px;
  transition: 0.25s border ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-form textarea:focus {
  outline: 0;
  border: 1px solid #3498db;
}

.todo-form button {
  padding: 0 14px;
  width: 8%;
  height: 48px;
  margin-right: 15px;
  transition: 0.25s border ease-in-out;
  color: #fff;
  background-color: #f8cada;
  border-radius: 3px;
  font-size: 1.2em;
  text-align: center;
}

.todo-form button:hover {
  background-color: #f5b3ca;
}

/* Todo list styles */
.todo-list ul,
.completed-list ul {
  padding: 0;
  margin: 0;
}

.todo-list li,
.completed-list li {
  list-style-type: none;
  margin: 1px 0;
}

/* Todo item styles */
.todo-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
}

.todo-item .code {
  text-align: left;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-form + .todo-list ul .todo-item {
  border-top: 1;
  background-color: #b3caf5;
}

.todo-item-input-wrapper {
  flex-grow: 1;
  padding: 0 16px;
  width: 100%;
  max-width: 40vw;
}

.todo-item input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: 0.25s border-bottom ease-in-out;
}

.todo-item input:focus {
  outline: 0;
  border-bottom: 1px solid #3498db;
}

.todo-item .todo-input-error {
  border-bottom: 1px solid #e74c3c;
}

.todo-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #1abc9c;
  transition: 0.25s all ease-in-out;
}

.todo-item-unchecked:hover {
  background: hsla(168, 76%, 42%, 0.25);
  border: 1px solid hsl(168, 76%, 42%, 0.25);
}

.todo-item-checked {
  color: #fff;
  background: #1abc9c;
  border: 1px solid #1abc9c;
}

.item-remove,
.item-edit {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 28px;
  cursor: pointer;
  line-height: 1;
  color: #ececec;
  transition: 0.25s color ease-in-out;
}

.item-remove:hover,
.item-edit:hover {
  color: #111;
}

.loading {
  align-items: center;
  margin-top: 100px;
  height: 50vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
